@import './reset.css';

:root {
    /* DEPTH taken from http://materializecss.com/shadow.html */
    --z-depth-0: {
        box-shadow: none;
    };
    --z-depth-1: {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    };
    --z-depth-2: {
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    };
    --z-depth-3: {
        box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    };
    /* COLORS */
    --primary-clr: #3F51B5;
    --primary-clr-l: #C5CAE9;
    --primary-clr-d: #303F9F;
    --secondary-clr: #009688;
    /* accent for weblinks or primary action btns or as a txt accent color over a primary background*/
    --accent-clr: #FF4081;
    --accent-clr-l: #FF80AB;
    --accent-clr-d: #F50057;
    --text-clr: #000;
}

#app {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.pageWrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    padding: 1rem;
}

.nav-header {
    @apply --z-depth-1;
    height: 64px;
    line-height: 64px;
    padding: 0 0.75rem;
    background-color: var(--primary-clr);
    -webkit-font-smoothing: antialiased;
}

.nav-lrg {
    font-size: 2.1rem;
    color: #FFF;
    text-decoration: none;
}
.nav-sml {
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
}
.nav-right {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
.nav-li-itm {
    box-sizing: inherit;
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;
    padding: 0;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}
nav ul li a:hover {
    background-color: var(--primary-clr-d);
}
nav ul li a:active {
    background-color: var(--primary-clr);
}
/* BUTTON */
.btn-img {
    @apply --z-depth-1;
    padding: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: 0;
}
.btn-img:hover {
    @apply --z-depth-2;
}
.btn-img:active {
    @apply --z-depth-0;
}
.btnless-list {
    list-style-type: none;
}


.input-field {
    position: relative;
    margin-top: 1rem;
    padding: 0 0.7rem;
    & input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 3rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 15px 0;
        padding: 0;
        box-shadow: none;
        box-sizing: content-box;
        transition: all 0.3s;
    }
    & input:focus {
        border-bottom: 1px solid var(--secondary-clr);
        box-shadow: 0 1px 0 0 var(--secondary-clr);
    }
    & label {
        color: #9e9e9e;
        position: absolute;
        top: 0.8rem;
        left: 0.75rem;
        font-size: 1rem;
        cursor: text;
        transition: .2s ease-out;
    }
    & input:focus:not([readonly])+label {
        color: var(--secondary-clr);
    }
    & label:focus {
        color: var(--secondary-clr);
    }
    & label.active {
        font-size: 0.8rem;
        transform: translateY(-140%);
    }
    & .error {
        font-size: 0.65rem;
        color: red;
    }
}

/*NEEDS TO BE MOVED INTO COMPONENTS */
.signin-input-wrap {
    width: 35%;
}
.signin-btn {
    height: 36px;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    top: 0px;
    background-color: var(--accent-clr);
    color: #FFF;
    padding:0 0.7rem;
    margin:0.7rem;
}
